{% extends "base.html" %}

{% block main %}
<button id="button">Count & Calculate</button>

<table id="algorithm" class="display">
<thead>
    <tr>
        <th>Title</th>
        <th>Subtitle</th>
        <th>ISBN</th>
        <th>Price</th>
        <th>Url</th>
    </tr>
<thead>
</table>

<script >
$(document).ready(function() {
    var table = $('#algorithm').DataTable( {
        ajax:  {
          url: 'https://api.itbook.store/1.0/search/algorithm',
          {# JSON source, 공공 데이터 api를 받아옴  #}
          dataSrc: 'books'
            {### Parent Key#}
       },
        columns: [
        { data: "title" },
        { data: "subtitle" },
        { data: "isbn13" },
        { data: "price" },
        { data: "url" }
        ],{## Children key#}
        "order": [[2, 'desc']],
        } );

    $('#algorithm tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
    });

    $('#button').click(function () {

        let sell = 0.00;
        let select_obj = table.rows('.selected').data();

        for (let i =0; i < select_obj.length; i++ ){

        let testString = select_obj[i].price;
        let temp = parseFloat(testString.replace(/[^0-9.]/g, ""));
        sell = sell + temp;
        console.log(temp);
        }

        console.log(table.rows('.selected').data());
        alert(table.rows('.selected').data().length + ' row(s) selected');
        alert('Total : '+ sell + '$');

        $.ajax({
            type:'POST',
            {#app = predict, reference url namespace => submit_prediction #}

            url:'{% url "posts:view_purchase" %}',
            dataType : "json",
            data:{
                "json_items" : JSON.stringify(select_obj)
            },

            success:function(data) {
                console.log(data); // log the returned json to the console
                console.log("success"); // another sanity check
                alert("Data send Sucess");
            },
            error : function(xhr,errmsg,err) {
                console.log(error);
            }
        });


    });
});





</script>

{% endblock %}